@charset "UTF-8";

body {
margin: 15px 0px 0px;
padding-bottom: 15px;
background: #BBD0CD url(../_img/wave-blue.png) repeat fixed;
font-family: BrandonText-Regular;
color: #333333;
}

.wrapper {
-moz-box-shadow: 0 0 9px #666;
-webkit-box-shadow: 0 0 9px #666;
box-shadow: 0 0 9px #666;
background: #FFFFFF;
margin-bottom: 30px;
}

.side-pusher {
padding: 1% 5% 1% 5%;
overflow: auto;
}

.side-pusher2 {
padding: 0px 5% 1% 5%;
overflow: auto;
}

.bottom-kids {
border-top: 1px solid #CCCCCC;
background: #F9F9F9;
padding-top: 9px;
padding-bottom: 9px;
}

.special-divider {
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: 9px double #DDD9E0;
}

.footer-bk {
border-top: 1px solid #CCCCCC;
}

strong {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
color: #444;
}

em {
font-family: BrandonText-RegularItalic;
}

.BrandonText-BoldItalic {
font-family: BrandonText-BoldItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Bold {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
}

.BrandonText-BlackItalic {
font-family: BrandonText-BlackItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Black {
font-family: BrandonText-Black;
font-weight: normal;
font-style: normal;
}

.BrandonText-LightItalic {
font-family: BrandonText-LightItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Light {
font-family: BrandonText-Light;
font-weight: normal;
font-style: normal;
}

.BrandonText-RegularItalic {
font-family: BrandonText-RegularItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Regular {
font-family: BrandonText-Regular;
font-weight: normal;
font-style: normal;
}

.BrandonText-Medium {
font-family: BrandonText-Medium;
font-weight: normal;
font-style: normal;
}

.BrandonText-ThinItalic {
font-family: BrandonText-ThinItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Thin {
font-family: BrandonText-Thin;
font-weight: normal;
font-style: normal;
}

.BrandonText-MediumItalic {
font-family: BrandonText-MediumItalic;
font-weight: normal;
font-style: normal;
}

a {
color: #007bc8;
}

h5 {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
font-size: 19px;
color: #526454;
}

h6 {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
font-size: 17px;
}
