@charset "UTF-8";

body {
margin: 0;
padding-bottom: 15px;
background: #BBD0CD url(../_img/wave-blue.png) repeat fixed;
font-family: BrandonText-Regular;
color: #333333;
}

.wrapper {
-moz-box-shadow: 0 0 9px #666;
-webkit-box-shadow: 0 0 9px #666;
box-shadow: 0 0 9px #666;
background: #FFFFFF;
margin-bottom: 30px;
}

.side-pusher {
padding: 1% 5% 1% 5%;
overflow: auto;
}

.side-pusher2 {
padding: 0px 5% 1% 5%;
overflow: auto;
}

.bottom-kids {
border-top: 1px solid #CCCCCC;
background: #F9F9F9;
padding-top: 9px;
padding-bottom: 9px;
}

.special-divider {
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: 9px double #DDD9E0;
}

.footer-bk {
border-top: 1px solid #CCCCCC;
}

strong {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
color: #444;
}

em {
font-family: BrandonText-RegularItalic;
}

.BrandonText-BoldItalic {
font-family: BrandonText-BoldItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Bold {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
}

.BrandonText-BlackItalic {
font-family: BrandonText-BlackItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Black {
font-family: BrandonText-Black;
font-weight: normal;
font-style: normal;
}

.BrandonText-LightItalic {
font-family: BrandonText-LightItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Light {
font-family: BrandonText-Light;
font-weight: normal;
font-style: normal;
}

.BrandonText-RegularItalic {
font-family: BrandonText-RegularItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Regular {
font-family: BrandonText-Regular;
font-weight: normal;
font-style: normal;
}

.BrandonText-Medium {
font-family: BrandonText-Medium;
font-weight: normal;
font-style: normal;
}

.BrandonText-ThinItalic {
font-family: BrandonText-ThinItalic;
font-weight: normal;
font-style: normal;
}

.BrandonText-Thin {
font-family: BrandonText-Thin;
font-weight: normal;
font-style: normal;
}

.BrandonText-MediumItalic {
font-family: BrandonText-MediumItalic;
font-weight: normal;
font-style: normal;
}

a {
color: #007bc8;
}

h5 {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
font-size: 19px;
color: #526454;
}

h6 {
font-family: BrandonText-Bold;
font-weight: normal;
font-style: normal;
font-size: 17px;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.title-bar {
    background-color: #667D68;
}

.top-bar {
    background: url('../_img/header_bg.png') 0% 0% / cover no-repeat;
    height: 177px;
}

.top-bar .menu {
    margin: 9px 0;
    background-color: transparent;
    text-align: center;
}

@media screen and (max-width: 39.9375em) {
    .menu>li {
        display: inline-block;
    }
}

.menu>li {
    vertical-align: baseline;
}

.menu>li>a {
    color: #FFFFFF;
    font-size: 0.9em;
    text-transform: uppercase;
}

.menu>li>a>span {
    letter-spacing: 0.05em;
    text-transform: none;
}

.menu>li>a:hover {
    border-bottom: 3px solid yellowgreen;
}

li.menu-text>a>span {
    letter-spacing: 0;
}

li.menu-text>a:hover {
    border-bottom: 0;
}